html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.app-shell {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.toolbar {
    height: 48px;
    background-color: rgb(245, 239, 217);
    border-bottom: 1px solid rgb(210, 205, 190);
    display: flex;
    flex-direction: row;
    padding: 0 8px;
}

.main-area {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.status-bar {
    flex: 0 0 20px;
    background-color: rgb(245, 239, 217);
    border-top: 1px solid rgb(210, 205, 190);
    display: flex;
    align-items: right;
    justify-content: right;
    padding: 3px 8px;
}

.left-panel {
    width: 250px;
}

.right-panel {
    width: 300px;
}

.graph-area {
    flex: 1;
}

.graph-type-badge {
    width: 24px;
    height: 24px;

    border-radius: 50%;

    margin-right: 8px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    color: #fff;
    padding: 4px;

    background-color: #66cc66;
    border: 1px solid #e0d8c8;
}